[submodule "ColorUtilsC"]
	path = ColorUtilsC
	url = https://github.com/DerTyp7214/ColorUtilsC.git
[submodule "MathC"]
	path = MathC
	url = https://github.com/DerTyp7214/MathC.git
[submodule "RboardComponents"]
	path = RboardComponents
	url = https://github.com/DerTyp7214/RboardComponents.git
