name: Build Pro

on:
  workflow_dispatch:

jobs:
  build:
    name: Build new Pro Apk
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4.1.1
        with:
          submodules: recursive

      - uses: nttld/setup-ndk@v1.4.1
        with:
          ndk-version: r26b

      - name: Get Commit Message
        id: commitMessage
        run: IN="${{ github.event.head_commit.message }}" && echo "::set-output name=message::${IN%%$'\n'*}"

      - name: Setup JDK
        uses: actions/setup-java@v3.13.0
        with:
          distribution: temurin
          java-version: 21

      - name: Cache Gradle dependencies
        uses: actions/cache@v3.3.2
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
            !~/.gradle/caches/build-cache-*
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle.kts') }}
          restore-keys: ${{ runner.os }}-gradle-

      - name: Cache build cache
        uses: actions/cache@v3.3.2
        with:
          path: |
            ${{ github.workspace }}/.ccache
            ~/.gradle/caches/build-cache-*
          key: ${{ runner.os }}-build-cache-${{ github.sha }}
          restore-keys: ${{ runner.os }}-build-cache-

      - name: File Permissions
        run: chmod +x gradlew

      - name: Accept Preview SDK License
        run: echo -n -e "\n84831b9409646a918e30573bab4c9c91346d8abd" > /usr/local/lib/android/sdk/licenses/android-sdk-preview-license
        
      - name: Build apk
        id: buildAllApks
        uses: gradle/gradle-build-action@v2.9.0
        with:
          gradle-version: wrapper
          arguments: assemblePro

      - name: Get JSON
        id: metadataJson
        run: |
          content=`cat app/build/outputs/apk/pro/output-metadata.json`
          content="${content//'%'/'%25'}"
          content="${content//$'\n'/'%0A'}"
          content="${content//$'\r'/'%0D'}"
          echo "::set-output name=json::$content"
      - name: List files
        run: ls app/build/outputs/apk/pro

      - name: Sign artifact
        id: signArtifact
        uses: ilharp/sign-android-release@v1.0.4
        with:
          releaseDir: app/build/outputs/apk/debug
          keyAlias: ${{ secrets.KEYALIAS }}
          signingKey: ${{ secrets.SIGNING_KEY }}
          keyStorePassword: ${{ secrets.KEY_STORE_PASSWORD }}
          keyPassword: ${{ secrets.KEY_PASSWORD }}
          buildToolsVersion: '34.0.0'

      - name: List files
        run: ls app/build/outputs/apk/pro

      - name: Rename APK
        run: mv app/build/outputs/apk/pro/app-pro-unsigned-signed.apk app/build/outputs/apk/pro/app-pro.apk

      - name: Upload Artifact
        uses: actions/upload-artifact@v3.1.3
        with:
          name: Release Artifact
          path: app/build/outputs/apk/pro/app-pro.apk

      - name: Print json
        run: echo ${{ github.event.head_commit }} 