name: Create Translation Pull Request

on: [ push ]

jobs:
  pull_request:
    if: startsWith(github.ref, 'refs/heads/translate-')
    name: Create Translation Pull Request
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          submodules: recursive
          fetch-depth: 0

      - name: Download Pull Request template
        shell: bash
        run: |
          mkdir -p .tmp
          curl -LsS https://raw.githubusercontent.com/DerTyp7214/DerTyp7214/main/PULL_REQUEST_TEMPLATE.md -o .tmp/PULL_REQUEST_TEMPLATE.md

      - name: Create Pull Request
        uses: devops-infra/action-pull-request@v0.6.0
        with:
          github_token: ${{ secrets.REPO_SCOPED_TOKEN }}
          template: .tmp/PULL_REQUEST_TEMPLATE.md
          target_branch: master
          title: ${{ github.event.commits[0].message }}
          label: automatic,translation
          get_diff: true
